body {
    width: 1000px;
    font: 0.8em Arial, Helvetica, sans-serif;
    /* Шрифт на веб-странице */
    background: #D7E1F2;
    /* Цвет фона */
    color: #ffe;
    /* Цвет текста */
    margin: 0;
    /*  background-color: #FCE600; */
}

a {
    color: #008BCE;
    /* Цвет ссылок */
}

main {
    /* position: relative;*/
    width: 500px;
    /* Ширина макета */
    margin: 0 auto;
    /* Выравниваем по центру */
    background: #FCE600;
    /* Цвет колонок */
    /* position: relative; */
}

header {
    font-size: 2.2em;
    /* Размер текста */
    text-align: center;
    /* Выравнивание по центру */
    padding: 5px;
    /* Отступы вокруг текста */
    background: #D71920;
    /* Цвет фона шапки */
}

nav {
    float: left;
    width: 110px;
    padding: 5px;
}

article {
    background: #54B948;
    margin: 0 120px 0 120px;
    /* Ширина колонок */
    padding: 10px;
}

aside {
    float: right;
    width: 110px;
    padding: 5px;
    color: #00f;
}

h2 {
    margin: 0 0 1em;
}

footer {
    /* clear: both;*/
    /* Отменяем действие float */
    padding: 5px;
    /* Отступы вокруг текста */
    background: #D71920;
    /* Цвет фона шапки */
}